!!! Strict
%html
  %head
  %link{:href =>"css/reset.css",:rel=>"stylesheet"}
    %link{:href =>"css/normalize.css",:rel=>"stylesheet"}
    %link{:href =>"http://fonts.googleapis.com/css?family=Medula+One",:rel=>"stylesheet"}
    %link{:href =>"css/style.css",:rel=>"stylesheet"}
    %link{:href =>"css/mobile.css",:rel=>"stylesheet"}  
    %link{:href =>"//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",:rel=>"stylesheet"} 
      
    / %script(type="text/javascript" src="js/libs/modernizr.custom.23329.js")
    %meta{:charset=>"utf-8"}    
    %title Yes, we are Ready ยก  
    %meta{:name=>"description", :content=>"carlos seca"}
    / %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}    
    %meta{:name=>'keywords', :content=>' ux , ui ,css3 , html5 , site , freelance , web, js , rdy.mx '}

    %meta{:property=>"og:title", :content=>"rdy.mx"}
    %meta{:property=>"og:image", :content=>"" }
    %meta{:property=>"og:description", :content=>"rdy.mx site" }
    %meta{:property=>"og:url", :content=>"http://rdy.mx" }
    %meta{:property=>"og:type", :content=>"website" }
    %meta{:property=>"og:site_name", :content=>"rdy.mx" }
    %meta{:property=>"og:locale", :content=>"es_LA" }
  %body
    #full_container
      %nav
        #menu_1{href:"#"}
          123
        #menu_2{href:"#"}
          ABC
        #menu_3{href:"#"}
          GAM
      
      %section#sec_numbers
        #sec1_nav
          %a#sec_numbers1.active{href:"#"}
            1
          %a#sec_numbers2{href:"#"}
            2
          %a#sec_numbers3{href:"#"}
            3
          %a#sec_numbers4{href:"#"}
            4
          %a#sec_numbers5{href:"#"}
            5
          %a#sec_numbers6{href:"#"}
            6
          %a#sec_numbers7{href:"#"}
            7
          %a#sec_numbers8{href:"#"}
            8
          %a#sec_numbers9{href:"#"}
            9
          %a#sec_numbers10{href:"#"}
            10
        #sec1_screen_container
          #sec_numbers_s1.screen            
            .final_container
              %div.active{data_id:"1"}
                1
              %div.active{data_id:"2"}
                2
              %div.active{data_id:"3"}
                3
              %div.active{data_id:"4"}
                4
              %div.active{data_id:"5"}
                5
              %div.active{data_id:"6"}
                6
              %div.active{data_id:"7"}
                7
              %div.active{data_id:"8"}
                8
              %div.active{data_id:"9"}
                9
              %div.active{data_id:"10"}
                10
            .start_container
              .active{href:"http://void/1",data_id:"1"}
                1
              .active{href:"http://void/2",data_id:"2"}
                2
              .active{href:"http://void/3",data_id:"3"}
                3
              .active{href:"http://void/4",data_id:"4"}
                4
              .active{href:"http://void/5",data_id:"5"}
                5
              .active{href:"http://void/6",data_id:"6"}
                6
              .active{href:"http://void/7",data_id:"7"}
                7
              .active{href:"http://void/8",data_id:"8"}
                8
              .active{href:"http://void/9",data_id:"9"}
                9
              .active{href:"http://void/10",data_id:"10"}
                10
            .footer
            %a.reload{href:"#"}
              %i.fa.fa-refresh.fa-4x
            .next
              %i.fa.fa-share.fa-4x
          #sec_numbers_s2.screen            
            .final_container
              %div.active{data_id:"1"}
                1
              %div.active{data_id:"2"}
                2
              %div.active{data_id:"3"}
                3
              %div.active{data_id:"4"}
                4
              %div.active{data_id:"5"}
                5
              %div.active{data_id:"6"}
                6
              %div.active{data_id:"7"}
                7
              %div.active{data_id:"8"}
                8
              %div.active{data_id:"9"}
                9
              %div.active{data_id:"10"}
                10
            .start_container              
              .active{href:"http://void/8",data_id:"8"}
                8
              .active{href:"http://void/2",data_id:"2"}
                2
              .active{href:"http://void/3",data_id:"3"}
                3
              .active{href:"http://void/4",data_id:"4"}
                4
              .active{href:"http://void/5",data_id:"5"}
                5
              .active{href:"http://void/6",data_id:"6"}
                6
              .active{href:"http://void/1",data_id:"1"}
                1  
              .active{href:"http://void/7",data_id:"7"}
                7
              
              .active{href:"http://void/9",data_id:"9"}
                9
              .active{href:"http://void/10",data_id:"10"}
                10
            .footer
            %a.reload{href:"#"}
              %i.fa.fa-refresh.fa-4x
            .next
              %i.fa.fa-share.fa-4x
          #sec_numbers_s3.screen            
            .final_container
              %div.active{data_id:"1"}
                1
              %div{data_id:"2"}
                2
              %div{data_id:"3"}
                3
              %div{data_id:"4"}
                4
              %div{data_id:"5"}
                5
              %div{data_id:"6"}
                6
              %div{data_id:"7"}
                7
              %div{data_id:"8"}
                8
              %div{data_id:"9"}
                9
              %div{data_id:"10"}
                10
            .start_container
              .active{href:"http://void/1",data_id:"1"}
                1
              .active{href:"http://void/2",data_id:"2"}
                2
              .active{href:"http://void/3",data_id:"3"}
                3
              .active{href:"http://void/4",data_id:"4"}
                4
              .active{href:"http://void/5",data_id:"5"}
                5
              .active{href:"http://void/6",data_id:"6"}
                6
              .active{href:"http://void/7",data_id:"7"}
                7
              .active{href:"http://void/8",data_id:"8"}
                8
              .active{href:"http://void/9",data_id:"9"}
                9
              .active{href:"http://void/10",data_id:"10"}
                10
            .footer
            %a.reload{href:"#"}
              %i.fa.fa-refresh.fa-4x
            .next
              %i.fa.fa-share.fa-4x
          #sec_numbers_s4.screen            
            .final_container
              %div.active{data_id:"1"}
                1
              %div{data_id:"2"}
                2
              %div{data_id:"3"}
                3
              %div{data_id:"4"}
                4
              %div{data_id:"5"}
                5
              %div{data_id:"6"}
                6
              %div{data_id:"7"}
                7
              %div{data_id:"8"}
                8
              %div{data_id:"9"}
                9
              %div{data_id:"10"}
                10
            .start_container
              .active{href:"http://void/1",data_id:"1"}
                1
              .active{href:"http://void/2",data_id:"2"}
                2
              .active{href:"http://void/3",data_id:"3"}
                3
              .active{href:"http://void/4",data_id:"4"}
                4
              .active{href:"http://void/5",data_id:"5"}
                5
              .active{href:"http://void/6",data_id:"6"}
                6
              .active{href:"http://void/7",data_id:"7"}
                7
              .active{href:"http://void/8",data_id:"8"}
                8
              .active{href:"http://void/9",data_id:"9"}
                9
              .active{href:"http://void/10",data_id:"10"}
                10
            .footer
            %a.reload{href:"#"}
              %i.fa.fa-refresh.fa-4x
            .next
              %i.fa.fa-share.fa-4x
  %script{src:"js/libs/jquery-1.10.2.js"}
  %script{src:"js/libs/jquery-ui-1.10.4.min.js"}
  %script{src:"js/libs/jquery.ui.touch-punch.min.js"}

  %script{src:"js/script.js"}


